<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		</style>

    <script>
        function setTable(product){
            var heads=[];
            var i,j;
            var tablehead="";
            for(i in product[0]){
                 heads.push(i);
                 tablehead+="<th>"+i+"</th>";   
            }
            var tablerow="";
            document.getElementById("thead").innerHTML=tablehead;
            for(i=0;i<product.length;i++){
                tablerow+="<tr>";
                for(j=0;j<heads.length;j++){
                    tablerow+="<td>"+product[i][heads[j]]+"</td>";
                }
                tablerow+="</tr>";
            }
            document.getElementById("tbody").innerHTML=tablerow;

        }
        function authorize(product) {
            return new Promise((resolve, reject) => {
                let http = new XMLHttpRequest();
                http.onload = function () {
                    resolve(http.response); 
                };
                http.onerror = function (e) {
                    reject(e); 
                };
        
                http.open(
                    "POST",
                    "http://localhost:9080/"
                );
                http.setRequestHeader('Authorization', `${product}`); 
                http.send();
            });
        }

        function getData(id) {
            return new Promise((resolve, reject) => {
                let http = new XMLHttpRequest();
                
                http.onload = function () {
                    
                    resolve(http.response); 
                };
                http.onerror = function (e) {
                    
                    reject(e); 
                };
                
                http.open(
                    "GET",
                    "http://localhost:9080/home"
                );
                console.log("Id="+id);
                if( id === undefined || id===''){
                    http.setRequestHeader('id',0); 
                }
                else{
                    http.setRequestHeader('id',parseInt(id)); 
                }
              
                http.send();
                
            });
        }

        function deleteData(id) {
            return new Promise(function (resolve, reject) {
                var http = new XMLHttpRequest();

                http.onload = function () {
                resolve(http.response);
                };

                http.onerror = function (e) {
                reject(e);
                };
                
                http.open("DELETE", "http://localhost:9080/home");
                http.setRequestHeader('id',parseInt(id));
                http.send();
            });
        }

        function postData(product) {
            return new Promise(function (resolve, reject) {
                var http = new XMLHttpRequest();

                http.onload = function () {
                resolve(http.response);
                };

                http.onerror = function (e) {
                reject(e);
                };

                http.open("POST", "http://localhost:9080/home");
                http.send(JSON.stringify(product));
            });
        }

        function putData(id, product) {
            return new Promise(function (resolve, reject) {
                var http = new XMLHttpRequest();

                http.onload = function () {
                resolve(http.response);
                };

                http.onerror = function (e) {
                reject(e);
                };

                http.open("PUT", "http://localhost:9080/home");
                http.setRequestHeader('id',parseInt(id));
                http.send(JSON.stringify(product));
            });
        }

        window.onload=function(){
            let sbtbtn=document.getElementById('sbtbtn');
            sbtbtn.addEventListener('click',function(){
                let username=document.getElementById('username').value;
                let pass=document.getElementById('password').value;
                let response = authorize(`Basic ${username}:${pass}`); 
                response.then(function(resp){
                    
                    if(resp==='"Valid"'){
                         alert("You have successfully logged in.");
                        document.getElementById('sbtbtn').style.visibility = "hidden";
                        document.getElementById('username').style.visibility = "hidden";
                        document.getElementById('password').style.visibility = "hidden";
                        document.getElementById('yeah').style.visibility = "hidden";
                        document.getElementById('wahh').style.visibility = "hidden";
                        document.getElementById('ok').style.visibility = "hidden";
                        document.getElementById('crud').style.display="";
                        document.getElementById('dvdata').innerText = "";
                        document.getElementById('tbody').innerHTML="";
                        document.getElementById('thead').innerHTML="";
                    }else{ 
                        if(resp==='"Invalid"'){
                            alert('Invalid User-Name or Password.');
                            document.getElementById('crud').style.display="none";
                        }
                    }
                }).catch(function(e){
                    document.getElementById('val').innerHTML = e;
                    document.getElementById('tbody').innerHTML="";
                    document.getElementById('thead').innerHTML="";
                    
                });
            },false);

            document.getElementById('getdata').addEventListener('click',function(){
                let response = getData(document.getElementById('getid').value);
                response.then(function(resp){
                   let prod=JSON.parse(resp);
                   if(prod[0].ProductId===undefined){
                    document.getElementById('dvdata').innerText = resp;
                    document.getElementById('tbody').innerHTML="";
                        document.getElementById('thead').innerHTML="";
                   }
                   else{
                    setTable(prod);
                    document.getElementById('dvdata').innerText = "";
                   }
                    
                }).catch(function(e){
                    document.getElementById('dvdata').innerText = e;
                    document.getElementById('tbody').innerHTML="";
                    document.getElementById('thead').innerHTML="";
                });
            },false);

            document.getElementById('deletedata').addEventListener('click',function(){
                let response = deleteData(document.getElementById('getid').value);
                response.then(function(resp){
                    document.getElementById('dvdata').innerText = resp;
                    document.getElementById('tbody').innerHTML="";
                    document.getElementById('thead').innerHTML="";
                    
                }).catch(function(e){
                    document.getElementById('dvdata').innerText = e;
                    document.getElementById('tbody').innerHTML="";
                    document.getElementById('thead').innerHTML="";
                });
            },false);

            document.getElementById('postdata').addEventListener('click',function(){
                let prod = {
                    "ProductId":parseInt(document.getElementById('prodid').value), 
                    "ProductName":document.getElementById('prodname').value, 
                    "CategoryName":document.getElementById('prodcat').value, 
                    "Price":parseInt(document.getElementById('prodprice').value)
                };
                let response = postData(prod);
                response.then(function(resp){
                    let prod=JSON.parse(resp);
                   if(prod[0].ProductId===undefined){
                        document.getElementById('dvdata').innerText = resp;
                        document.getElementById('tbody').innerHTML="";
                        document.getElementById('thead').innerHTML="";
                   }
                   else{
                        setTable(prod);
                        document.getElementById('dvdata').innerText = "";
                   }
                }).catch(function(e){
                    document.getElementById('dvdata').innerText = e;
                    document.getElementById('tbody').innerHTML="";
                    document.getElementById('thead').innerHTML="";
                });
            },false);

            document.getElementById('updata').addEventListener('click',function(){
                let getid = document.getElementById('getid').value;
                let data=getData(getid);
                console.log("this is data"+data);
                data.then(function(resp){
                    console.log("this is resp"+resp);
                    let prod=Json.stringify(resp);
                    //console.log(prod);
                        parseInt(document.getElementById('prodid').value)= resp.ProductId;
                        document.getElementById('prodname').value=prod.rows.ProductName;
                        document.getElementById('prodcat').value=prod.rows.CategoryName;
                        document.getElementById('prodprice').value=prod.rows.Price;
                }).catch(function(e){
                    document.getElementById('dvdata').innerHTML = "";      
                });
            })
            


                document.getElementById('putdata').addEventListener('click',function(){
                let prod = {
                    "ProductId":parseInt(document.getElementById('prodid').value), 
                    "ProductName":document.getElementById('prodname').value, 
                    "CategoryName":document.getElementById('prodcat').value, 
                    "Price":parseInt(document.getElementById('prodprice').value)
                };
                let response = putData(document.getElementById('prodid').value,prod);
                response.then(function(resp){
                    let prod=JSON.parse(resp);
                   if(prod.ProductId===undefined){
                        document.getElementById('dvdata').innerText = resp;
                        document.getElementById('tbody').innerHTML="";
                        document.getElementById('thead').innerHTML="";
                   }
                   else{
                        setTable(prod);
                        document.getElementById('dvdata').innerText = "";
                   }
                }).catch(function(e){
                    document.getElementById('dvdata').innerText = e;
                    document.getElementById('tbody').innerHTML="";
                    document.getElementById('thead').innerHTML="";
                });
            },false);

            document.getElementById('clr').addEventListener('click',function(){
                let clearfields=document.getElementsByName('clearbtn');
                for(let i=0;i<clearfields.length;i++){
                    clearfields[i].value="";
                }
                let clearfields1=document.getElementsByName('clearbtn1');
                for(let i=0;i<clearfields1.length;i++){
                    clearfields1[i].innerHTML="";
                }
            },false);
        }
    </script>
</head>
<body>
    <div class="login-form">
        <h1 id="ok">Login Form</h1>
    <span id="user">
        <center>
            <form action="auth">
                <label for="" id="yeah">UserName: </label>
                <input type="text" name="username" id="username" placeholder="Username" required>
                <label for="" id="wahh">Password: </label>
                <input type="password" name="password" id="password" placeholder="Password" required>
				<input type="submit" id="sbtbtn">
            </form>
             <!-- <input type="text" id="username"> <br> <br>
             <input type="text"  id="password"> <br> <br>
            <input type="button" value="Submit" id='sbtbtn'> <br> <br> -->
            <!-- <span id='val'></span> <br> -->
            
            
        </center>
    </span>

    <hr>
    <span id="crud" style="display:none;">
        <center>
            ProductId : <input type="text" id='getid' name='clearbtn'> <br> <br>
            <input type="button" value="Get Data" id='getdata'> &emsp;
            <input type="button" value="Update Data" id='updata'> &emsp;
            <input type="button" value="Delete Data" id='deletedata'> <br><br>
       
            <table class="table table-bordered">
                <thead id="thead" name='clearbtn1'>

                </thead>
                <tbody id='tbody' name='clearbtn1'>
        
                </tbody>
           </table>
            <div id='dvdata' name='clearbtn1'></div>
        </center> 
        <hr>
        <center>   
            <label for="">ProductId: </label>
             <input type="text" id='prodid' name='clearbtn'><br>
             <label for="">ProductName: </label>
            <input type="text" id='prodname' name='clearbtn'><br>
            <label for="">CategoryName: </label>
            <input type="text" id='prodcat' name='clearbtn'><br>
            <label for="">Price: </label>
            <input type="text" id='prodprice' name='clearbtn'><br> <br>
            <input type="button" value="Post Data" id='postdata'>
            <input type="button" value="Put Data" id='putdata'> <br> <br>
            <div id='postdata' name='clearbtn1'></div>
        </center>    
        <hr>
        <center>
            <input type="button" value="Clear" id='clr'>
        </center>
    </span>
</div>
</body>
</html>