<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="./UpdateProduct.js"></script>

</head>
<body>
    <div>
        <input type="button" style="float:right; margin-right: 10px;" value="Log Out" id='logout'> 
        <h5 id="logged" style="float:right; margin-right: 10px;"></h5><br>
        <h3>Update Product</h3>
    </div> 
    <h5><div id='out' style='text-align: center;'></div></h5>
    <br>  <br>
    <div id='cont'>
        <div id='fields'>
            Product name : <input type="text" name="clr" id="ProductName"> <br> <br>
            Category : <input type="text" name="clr" id="Category"> <br> <br>
            Manufacturing : <input type="text" name="clr" id="Manufacturing"> <br> <br>
            Price : <input type="number" min="0" name="clr" id="Price"> <br> <br>
        <input type="button" value="Submit" id='sbtbtn'>
        <input type="button" value="Clear" id='clrbtn'>
        <input type="button" value="See All Products" id='prod'>
        <div id='msg'></div>
        </div>
    </div> 
    <a style="display:none;" href="./Products.html" id="Product"></a>
    <a style="display:none;" href="./Signout.html" id="Logoutbtn"></a>
</body>
</html>