<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Time</title>
    <script src="./../build/Assisnment26Aug.build.js"></script>
</head>
<body style="background-color: cyan;">
    <center>
        <br><br>
        <h2 style="color: brown">    
            Calculate seconds, minutes, hours, days, and year between date and time
        </h2> <br>
        <table >

        <h3>Enter the date and time to show Result</h3>   <br> 
    From Date:-  <input type="datetime-local" id='fromDate'> <br><br>
    To Date:- <input type="datetime-local" id='toDate'> <br><br>

    <input type="button" value="Submit" id='submit'>
</table>
    <br>
    <div id="res"></div>
</center>
</body>
</html>