<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../source/Assisnment27Aug2.js"></script>
</head>
<body style="background-color: lightcyan;">
    <center>
        <table border="1px solid black;" style="text-align: center;"></tableborder>
        <h1 style="color: firebrick;">Electonics Store</h1>
         
            Product Name:   <input type="text" style="text-transform: capitalize;" id="ProductName" placeholder="Enter Product Name" required><br><br>
            Category:   <div style="display: inline" id="CategoryNameList"></div><br><br>
            Manufacturer:   <div style="display: inline" id="ManufacturersList"></div><br><br>
            Price:   <input type="number" id="Price" placeholder="Enter Product Price" required><br><br>
            <div id="dvButton"><input type="submit" value="Register" id="Submit">
            <!-- &emsp;
            <input type="button" value="Clear" id="btnclear"> -->
            </div>
            
            <br>
        </table>

        <hr> 
        <br>
        <div id="functionality"></div>
        <table border="1px solid black;" style="text-align: center;" id="tableData"></table>
    </center>
    
</body>
</html>